<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Twitter</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="tweets.scss">
</head>

<body>
  <header>
    <div>
      <ul>
        <li><a href="#">ホーム</a></li>
        <li><a href="#">通知</a></li>
        <li><a href="#">メッセージ</a></li>
      </ul>
    </div>
  </header>
  <section class="now_tweet">
    <div>
      <%= form_for(@tweet) do |f| %>
        <%= f.text_field :content %>
        <%= f.submit %>
      <% end %>
      <%= link_to "戻る", tweets_path %>
    </div>
  </section>
</body>
</html>