<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Twitter</title>
</head>

<body>
  <header>
    <ul>
      <li><a href="#">ホーム</a></li>
      <li><a href="#">通知</a></li>
      <li><a href="#">メッセージ</a></li>
    </ul>
  </header>
  <section class="about">
    <h2>About Twitter</h2>
    <p>
      このTwitterはRuby on Railsの学習のために、
      作成したアプリです。
    </p>
  </section>
  <section class="tweets">
    <p>ここにtweetを表示します。</p>
  </section>
</body>
</html>