body {
  background-color: #F0F8FF;
  margin: 0 auto;
}

div {
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #666666;
  border-radius: 10px;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

header ul {
  list-style: none;
}

header ul a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #666666;
}

.about {
  width: 25%;
  padding: 15px;
  float: left;
}

.now_tweet {
  width: 60%;
  padding: 15px;
  float: right;
}

.tweets {
  width: 60%;
  padding: 15px;
  float: right;
}

h2 {
  color: #666666;
}

p {
  color: #666666;
}